/* Google Fonts: Lobster */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
}
a.bars {
  position: fixed;
  text-decoration: none;
  color: white;
  top: 20px;
  right: 20px;
  z-index: 2;
}
a.bars i {
  background-color: #228c87;
  font-size: 30px;
  padding: 10px;
  margin: 10px 10px 0p 0px;
}
a.bars :hover {
  background-color: rgba(75, 194, 184, 1);
  color: white;
  transition: all 0.3s ease-in-out;
}
.back-ground {
  background-image: url("./assets/big-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
.very-text {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  align-items: center;
  top: 30%;
}
.very-text h1 {
  color: white;
  font-size: 73px;
  font-weight: bold;
  font-family: "Lobster", cursive, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.406) 0px 4px 8px;
  letter-spacing: 6px;
  word-spacing: 18px;
}
.very-text h3 {
  padding: 9px 20px;
  color: #df5889;
  font-size: 24px;
  font-style: italic;
  font-family: "Lobstre", cursive;
  font-weight: normal;
}
a.FOM {
  text-decoration: none;
  border: 1px solid #df314a;
  padding: 17px 25px;
  color: #ec7787;
  font-size: 20px;
  font-family: sans-serif;
  position: relative;
  top: 30px;
}
a.FOM:hover {
  color: #228c87;
  border: 1px solid #228c87;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
a.scroll-down-arrow {
  position: relative;
  top: 135px;
}
.About {
  background-color: white;
  width: 100%;
  height: 165vh;
  position: relative;
  z-index: 1;
  top: 100px;
}
.About h1 {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-family: "Lobster", sans-serif;
  letter-spacing: 5px;
  color: #333333;
  position: relative;
}
.About hr {
  width: 92.5%;
  margin: 0 auto;
  opacity: 0.3;
}
.About-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.About-content img {
  width: 30%;
  height: 260px;
  position: relative;
  top: 51px;
  left: 42px;
}
.About-content .head-paragraph h4 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #333333;
  position: absolute;
  top: 180px;
  left: 435px;
}
.About-content .head-paragraph p {
  width: 85%;
  position: relative;
  top: 108px;
  left: 70px;
  font-size: 16px;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.7;
}
.row {
  position: relative;
  top: 85px;
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.column {
  width: 33%;
  padding-left: 30px;
}
.column h4 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #333333;
}
.column hr {
  width: 85%;
  position: relative;
  top: 10px;
  margin: 10px 0;
}
.column p {
  width: 85%;
  position: relative;
  top: 15px;
  font-size: 16px;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.7;
}
.column .divide {
  width: 25%;
  margin: 20px 0;
}
.column ul {
  list-style-type: none;
  padding: 0;
}
.column ul em {
  color: #228c87;
}
.column ul li {
  font-size: 16px;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.7;
  margin: 10px 0;
}
.column ul .under-plain-progress {
  width: 85%;
  height: 18px;
  background-color: rgba(163, 184, 185, 0.447);
  border-radius: 5px;
  margin: 10px 0;
}
.column ul .progress-plain1 {
  width: 90%;
  height: 18px;
  background-color: #72b6af;
  border-radius: 5px;
  margin: 10px 0;
}
.column ul .progress-plain2 {
  width: 80%;
  height: 18px;
  background-color: #72b6af;
  border-radius: 5px;
  margin: 10px 0;
}
.column ul .progress-plain3 {
  width: 85%;
  height: 18px;
  background-color: #72b6af;
  border-radius: 5px;
  margin: 10px 0;
}
.column ul .progress-plain4 {
  width: 50%;
  height: 18px;
  background-color: #72b6af;
  border-radius: 5px;
  margin: 10px 0;
}
.column1 {
  width: 35%;
  position: relative;
}
.column1 h4 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #333333;
}
.column1 hr {
  width: 85%;
  position: relative;
  top: 10px;
  margin: 10px 0;
}
.column1 p {
  width: 85%;
  position: relative;
  top: 15px;
  font-size: 16px;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.7;
}
.column1 .divide {
  width: 25%;
  margin: 20px 0;
}
.column1 ul {
  list-style-type: none;
  padding: 0;
}
.column1 ol li {
  font-size: 16px;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  margin: 10px 0;
  position: relative;
  left: 44px;
  top: 20px;
}
.column2 {
  position: relative;
  width: 35%;
}
.column2 h4 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #333333;
}
.column2 hr {
  width: 85%;
  position: relative;
  top: 10px;
  margin: 10px 0;
}
.column2 p {
  position: relative;
  top: 15px;
  font-size: 16px;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
}
.column2 .divide {
  width: 25%;
}
.services-2 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
}
.icons img {
  width: 50px;
  height: 50px;
}
.text {
  position: relative;
  width: 85%;
  top: -50px;
  left: 65px;
}
.text h5 {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: #333333;
}
.Services {
  background-color: #7fbbda;
  width: 100%;
  height: 140vh;
}
.Services .Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 40px;
  position: relative;
  top: 160px;
}
.Container .row {
  display: flex;
  justify-content: center;
}
.Container .row .col h2 {
  color: white;
  font-size: 50px;
  font-family: "Lobster", sans-serif;
  margin-bottom: 13px;
  letter-spacing: 3px;
}
.Container .row .col hr {
  margin: 0 -25px;
}
.Container .divide1 {
  width: 25%;
  height: 30px;
  position: relative;
  top: 100px;
  left: 475px;
}
.service-item {
  height: 300px;
  position: relative;
  text-align: center;
}
.service-item i {
  font-size: 50px;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  padding: 40px;
  position: relative;
  top: 20px;
}
.service-item .fa-plane {
  transform: rotate(-45deg);
}
.service-item i:hover {
  background-color: white;
  color: #7fbbda;
  transition: all 0.3s ease-in-out;
}
.service-item h4 {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  position: relative;
  top: 30px;
  margin: 25px 0;
}
.service-item p {
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  position: relative;
  top: 35px;
  line-height: 1.4;
}
.callout {
  background-image: url(./assets/callout.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60vh;
}
.callout h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  color: white;
  font-family: "Lobster", sans-serif;
  font-size: 73px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.406) 0px 4px 8px;
  letter-spacing: 6px;
  word-spacing: 18px;
}
#places {
  margin-top: 100px;
  margin-bottom: 100px;
}
.Container .row1 .col2 h2 {
  color: #333333;
  font-size: 50px;
  font-family: "Lobster", sans-serif;
  margin-bottom: 13px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
}
.Container .row1 .col2 hr {
  width: 32%;
  margin-left: 34%;
  opacity: 0.6;
}
.center-block {
  background-image: url(./assets/paris.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 540px;
  height: 410px;
  margin-top: 80px;
  margin-left: 70px;
}
.figure1 {
  background-color: rgba(0, 0, 0, 0.317);
  width: 540px;
  height: 410px;
}
.figure {
  background-color: rgba(255, 255, 255, 0.153);
  width: 540px;
  height: 410px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.hover-div :hover .figure {
  opacity: 1;
}
.center-block .figure .Paragraph {
  width: 80%;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  line-height: 2;
  word-spacing: 5px;
  letter-spacing: 1px;
  position: relative;
  top: 130px;
  left: 60px;
  text-align: center;
}
.figure .bottom-list {
  background-color: #0a5175;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: relative;
  top: 231px;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
}
.figure .bottom-list .icon-links a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-right: 10px;
}
.center-block-1 {
  background-image: url(./assets/washington.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 540px;
  height: 410px;
  margin-top: 20px;
  margin-left: 70px;
}
.center-block-1 .figure .Paragraph {
  width: 80%;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  line-height: 2;
  word-spacing: 5px;
  letter-spacing: 1px;
  position: relative;
  top: 130px;
  left: 60px;
  text-align: center;
}
.center-block-2 {
  background-image: url(./assets/statue.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 540px;
  height: 410px;
  margin-top: 20px;
  margin-left: 70px;
}
.center-block-2 .figure .Paragraph {
  width: 80%;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  line-height: 2;
  word-spacing: 5px;
  letter-spacing: 1px;
  position: relative;
  top: 130px;
  left: 60px;
  text-align: center;
}
.center-block-3 {
  background-image: url(./assets/sydney.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 540px;
  height: 410px;
  margin-top: -1270px;
  margin-left: 660px;
}
.center-block-3 .figure .Paragraph {
  width: 80%;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  line-height: 2;
  word-spacing: 5px;
  letter-spacing: 1px;
  position: relative;
  top: 130px;
  left: 60px;
  text-align: center;
}
.center-block-4 {
  background-image: url(./assets/London.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 540px;
  height: 410px;
  margin-top: 20px;
  margin-left: 660px;
}
.center-block-4 .figure .Paragraph {
  width: 80%;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  line-height: 2;
  word-spacing: 5px;
  letter-spacing: 1px;
  position: relative;
  top: 130px;
  left: 60px;
  text-align: center;
}
.center-block-5 {
  background-image: url(./assets/pizza-tower.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 540px;
  height: 410px;
  margin-top: 20px;
  margin-left: 660px;
}
.center-block-5 .figure .Paragraph {
  width: 80%;
  font-size: 20px;
  font-weight: normal;
  font-family: sans-serif;
  color: white;
  line-height: 2;
  word-spacing: 5px;
  letter-spacing: 1px;
  position: relative;
  top: 130px;
  left: 60px;
  text-align: center;
}
.booking {
  background-color: #0a5175;
  width: 100%;
  height: 48vh;
}
.booking .container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 60px;
}
.booking .container h3 {
  margin: 20px 0px;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 300;
}
.booking .container a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 30px;
  margin-top: 20px;
  font-family: sans-serif;
}
.booking .container a:hover {
  background-color: white;
  color: #0a5175;
  transition: all 0.3s ease-in-out;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  width: 100%;
  height: 60vh;
}
.contact .contact-item {
  color: #333333;
  font-size: 30px;
  font-family: "Lobster", sans-serif;
  margin: 20px 0px 10px;
  letter-spacing: 3px;
}
.contact .contact-item .line-break {
  width: 130%;
  opacity: 0.3;
  margin-bottom: 20px;
  position: relative;
  left: -37px;
}
.form-group input {
  margin-bottom: 15px;
  width: 38.5%;
  padding: 20px 35px 20px 10px;
  background-color: #f8f8f8;
  outline: none;
  border: none;
  margin: 0px 100px 30px;
  position: relative;
  top: 40px;
  left: -15px;
}
.form-group input:hover {
  border: 0.1px solid #228c87;
  transition: all 0.3s ease-in-out;
}
.form-group1 textarea {
  width: 30%;
  height: 30vh;
  background-color: #f8f8f8;
  outline: none;
  border: none;
  padding: 15px 130px 25px 10px;
  position: relative;
  top: -215px;
  left: 635px;
}
.form-group1 textarea:hover {
  border: 0.1px solid #228c87;
  transition: all 0.3s ease-in-out;
}
.contact-form button{
  padding: 15px 30px;
  background-color: #8BC3A3;
  color: white;
  border: none;
  font-size: 15px;
  font-family: sans-serif;
  position: relative;
  top: -180px;
  left: 540px;
}
.contact-form button:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}
.map iframe{
  width: 100%;
  height: 70vh;
  position: relative;
  top: 280px;
}
.footer{
  background-image: url(./assets/sky.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  top: 275px;
  z-index: 1;
  width: 100%;
  height: 53vh;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 90px;
  list-style-type: none;
}
.footer ul li {
  margin: 0 13px;
  font-size: 23px;
  color: #2f6a8e;
  border: 1px solid #2f6a8e;
  padding: 10px;
  transform: rotate(30deg);
}
.footer ul li:hover{
  background-color: #2f6a8e;
  color: white;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}
.footer hr{
  width: 50%;
  position: relative;
  top: 130px;
  left: 310px;
  border: 0.1px solid white;
  opacity: 0.4;
}
.footer p {
  text-align: center;
  position: relative;
  top: 150px;
  color: #333333;
  font-size: 14px;
  font-family: sans-serif;
}
.footer p a {
  text-decoration: none;
  color: #0a5175;
  font-size: 12px;
}
.footer .arrow{
  position: relative;
  top: 190px;
  left: 48%;
  transform: translateX(-50%);
  background-color: #2f6a8e;
  color: white;
  padding: 10px;
  border-radius: 50%;
  font-size: 25px;
}
.footer .arrow:hover {
  background-color: #72b6af;
  color: white;
  transition: all 0.3s ease-in-out;
}